
.circle {
    border-radius: 50%;
    width: 50px;
    line-height: 50px;
    padding: 3px;
    display:inline-block;
    text-align: center;
    font-weight: bold;
}

.circle-big {
    border-radius: 50%;
    width: 100px;
    line-height: 100px;
    padding: 3px;
    display:inline-block;

    background: white;
    color: #006DAE;
    text-align: center;
    font-weight: bold;

}

.transition {
  background-image: url("");
}

.transition > .footnote {
  display: none;
}

.plot-box {
  border: solid 3px black;
  background-color:white;
  /*padding-top: 0.5em;*/
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-right:5px;
  z-index: 1;
}

.plot-box:before {
  position: absolute;
  content: "design sketch";
  padding: 5px;
  margin-top: -0.5em;
  margin-left: 0.5em;
  background-color: #250033;
  font-size: 12pt;
  color: white;
  z-index: 2;
}


.h---500 {
  height: 500px!important;
}

.h---340 {
  height: 340px!important;
}

.h---300 {
  height: 300px!important;
}

.h---250 {
  height: 250px!important;
}

.h---240 {
  height: 240px!important;
}

.h---150 {
  height: 150px!important;
}